.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30vw;
  background-color: #fff;
  box-shadow: -2px 0 3px #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sb-form {
  padding: 10px;
}

.sb-form-field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sb-footer {
  padding: 10px;
  border-top: 1px solid #ddd;
}

.sb-footer button {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 3px 5px;
  border-radius: 3px;
  margin-right: 5px;
  cursor: pointer;
}